@import "~bootstrap/scss/bootstrap";

$navBar: #1E2632;
$background: #f7f8f9;
$text: #3A3C42;

body {
    background-color: $background !important;
    color: $text !important;
}

.navbar {
    background-color: $navBar !important;
    box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.3) !important;
    margin-bottom: 40px !important;

    a {
        color: #fff !important;
    }
}

h1 {
    margin-bottom: 30px !important;
}

.card {
    box-shadow: 0 2px 4px rgba(204, 204, 204, 0.8) !important;
    padding: 20px 40px !important;
}
